.team {
  background-color: var(--background-team);
}

.section-tittle {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  color: var(--tittle-text-color);
}

.team-sub-tittle {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  color: var(--tittle-text-color);
  margin-bottom: 10px;
}

.team-text {
  font-size: 16px;
  line-height: 1.19;
  margin-bottom: 16px;
}

.team-list {
  flex-wrap: wrap;
  display: flex;
  gap: 30px;
}

.team-item {
  flex-basis: calc((100% - 90px) / 4);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-info {
  padding: 30px;
  text-align: center;
  background-color: var(--botton-background);
}

.social-list {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.social-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: var(--background-header);
  border: none;
  &:hover,
  &:focus {
    background-color: var(--botton-action-text-color);
  }
}

.social-list-link:hover .social-list-icon,
.social-list-link:focus .social-list-icon {
  fill: var(--background-header);
}

.social-list-icon {
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
