:root {
    --tittle-text-color: #212121;
    --hero-bg-color: #c4c4c4;
    --text-color: #757575;
    --text-hero: #ffffff;
    --heared-nav-link: #212121;
    --botton-action-text-color: #2196f3;
    --botton-background-action: #ffffff;
    --botton-background: #ffffff;
    --background-header: #ffffff;
    --background-body: #e5e5e5;
    --background-team: #f5f4fa;
    --background-f-h: #2f303a;
    --text-footer-color: (255, 255, 255, 0.6);
}